In [1]:
import os
import pandas as pd
import numpy as np
from scipy import stats
from scipy import optimize
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
from loading_data import nat_gas_consumption_data,nat_gas_weather_data

### Data Processing and Loading

In [5]:
ncg_consumption, gaspool_consumption, the_consumption,consumption_data = nat_gas_consumption_data()

In [6]:
consumption_data

2011-04-01    1233962.960
2011-04-02    1006977.403
2011-04-03    1025128.699
2011-04-04    1334227.003
2011-04-05    1362010.627
                 ...
2025-01-03    3885514.929
2025-01-04    3839419.985
2025-01-05    3555282.958
2025-01-06    1649270.688
2025-01-07    1762171.128
Length: 3843, dtype: float64

In [2]:
weather_data = nat_gas_weather_data()
weather_data

,temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),sunshine_duration (h),wind_speed_10m_max (km/h)
Date,,,,,
2000-01-01,2.2,-0.3,0.8,0.000000,12.5
2000-01-02,4.2,2.6,3.2,0.000000,16.2
2000-01-03,6.3,4.4,5.3,0.000000,20.0
2000-01-04,6.2,4.2,5.5,0.582544,21.1
2000-01-05,6.6,-1.1,3.9,6.064792,27.4
...,...,...,...,...,...
2025-01-01,7.0,0.7,4.8,1.019147,26.4
2025-01-02,6.8,1.0,4.1,5.422772,26.1
2025-01-03,2.5,-1.3,0.8,3.450067,30.3
2025-01-04,0.8,-2.6,-1.1,2.396658,19.8
2025-01-05,0.8,-2.4,-1.0,0.000000,18.7

In [11]:
consumption_data.corr(weather_data["temperature_2m_mean (°C)"])

-0.7211020755644544